/* Lorenz Gerber dv15lgr@cs.umu.se */
body {
  background-color:  #fff;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
}

h1 {
  background-color: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  padding: 0px;
  background-image: url(background.jpg);
  background-repeat: repeat-x;

}

nav {
  background-color: olivedrab;
  border-color: darkseagreen;
}

article {
  background-color: darkseagreen;
}

section {
  background-color: darkseagreen;
}

#presentation {
  background-color: darkseagreen;
}

#vision {
  background-color: darkseagreen;
}

#financial {
  background-color: darkseagreen;

}
