/* Lorenz Gerber dv15lgr@cs.umu.se */
body {
  background-color:  #fff;
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  text-align: center;
  margin: 0px;
  padding: 10px;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 200px;
  margin: 0px auto;
  border-collapse: collapse;
}

td,
th {
  width: 100px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

header {
  margin: 0px;
  padding: 0px;
  background-image: url(background.jpg);
  background-repeat: repeat-x;

}

#mainpage {
  padding: 10px;
  background-color: darkseagreen;
}

article,
section {

}


nav {
  padding: 5px;
  background-color: olivedrab;
}



footer {
  padding: 5px;
  text-align: right;
  background-color: olivedrab;
}
